{% extends "blackbox/base.html" %}

{% load staticfiles %}
{% block includes %}
	<link rel="stylesheet" type="text/css" href="{% static "blackbox/css/manage.css" %}">
{% endblock %}

{% block title %}
- Home
{% endblock %}

{% block content %}
	<h1>Search: {{terms}}</h1>
	{% if boxes|length == 0 %}
		<p id="empty_message">
			Your search did not produce any results.
		</p>
	{% else %}
		{% for box in boxes %}
			<a class="nodec linkbox" href="/box?uid={{box.uid}}">
				<div class="box">
					<h2>{{box.name|upper}} <span class="owner">by {{box.owner.user}} on {{box.date}}</span></h2>
					<p>{{box.description}}</p>
				</div>
			</a>
		{% endfor %}
	{% endif %}
{% endblock %}